.C_TimeInfo {
  justify-content: space-between;
  align-items: center;
  width: 180px;
  padding: 10px 32px;
  text-decoration: none;
  display: flex;
}

.C_Navigation {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}
