<div class="O_Menu">
  <div class="W_NavigationTop">
    <div class="C_Navigation">
      <div class="A_MenuItem">
        <p class="A_LabelSmall">Главная</p>
      </div>
      <div class="A_MenuItem">
        <p class="A_LabelSmall">Ивенты</p>
      </div>
      <div class="A_MenuItem">
        <p class="A_LabelSmall">Тусовочка</p>
      </div>
      <div class="A_MenuItem">
        <p class="A_LabelSmall">Учеба</p>
      </div>
    </div>
    <div class="A_3dCard">
      <img
        src="/src/images/pants.webp"
        loading="lazy"
        width="200"
        height="200"
        alt=""
        class="A_3dCard"
      />
    </div>
  </div>
  <div class="W_NavigationBottom">
    <div class="C_TimeInfo">
      <div class="M_TimeAndTime">
        <p class="A_Capture">уже</p>
        <p class="A_LabelLarge">21:45:53</p>
      </div>
      <div class="M_TimeAndTime">
        <p class="A_Capture">мар</p>
        <p class="A_LabelLarge">12</p>
      </div>
    </div>
    <img
      src="/src/images/Vector.svg"
      loading="lazy"
      width="72.98"
      height="244"
      alt=""
      class="A_VectorMenu"
    />
  </div>
</div>
