.section {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
  box-sizing: border-box
}

.title {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 405px;
  text-decoration: none;
  display: flex;
}

h4 {
  color: #fff;
  letter-spacing: -.02em;
  text-transform: lowercase;
  word-break:normal;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 71px;
  font-weight: 600;
  line-height: 85%;
  text-decoration: none;
  font-family: 'Sf-Pro';
}

.paragraph {
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 60px;
  text-decoration: none;
  display: flex;
}

.aspect-16-9{
  aspect-ratio: 16 / 9;
  width: 100%;
}

.aspect-1-1{
  aspect-ratio: 1 / 1;
  flex: 1;
  width: 50%;
}


.label-medium {
  color: #ffffff73;
  letter-spacing: .02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 115%;
  text-decoration: none;
  font-family: 'PP-Neue-Montreal';
}

.column{
  flex-direction: column
}

.row{
  flex-direction:  row !important;
  box-sizing: border-box;
  display: flex;
}

.paragraph-extra {
  color: #ffffff;
  letter-spacing: .02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 105%;
  text-decoration: none;
  font-family: 'PP-Neue-Montreal';
}

.grid {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
  box-sizing: border-box
}

.row {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  overflow: scroll;
}

.content {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.body {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  background-color: #f7f8fa;
  flex-flow: column;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: inherit
}

.gradient-blur-box{
  width: calc(100% + 32px);
  position: absolute;
  top:0;
  height: 100vh;
  z-index: -8;
  left: -16px;
}

.gradient-blur {
  z-index: 5;
  inset: auto 0 0 0;
  height: 100%;
  pointer-events: none;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}
.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to top,
    rgba(247, 248, 250, 0) 37.5% ,
    rgba(247, 248, 250, 1) 25%,
    rgba(247, 248, 250, 1) 12.5%,
    rgba(247, 248, 250, 0) 0%
  );
}
.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to top,
    rgba(247, 248, 250, 0) 12.5%,
    rgba(247, 248, 250, 1) 25%,
    rgba(247, 248, 250, 1) 37.5%,
    rgba(247, 248, 250, 0) 50%
  );
}
.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to top,
    rgba(247, 248, 250, 0) 25%,
    rgba(247, 248, 250, 1) 37.5%,
    rgba(247, 248, 250, 1) 50%,
    rgba(247, 248, 250, 0) 62.5%
  );
}
.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to top,
    rgba(247, 248, 250, 0) 37.5%,
    rgba(247, 248, 250, 1) 50%,
    rgba(247, 248, 250, 1) 62.5%,
    rgba(247, 248, 250, 0) 75%
  );
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to top,
    rgba(247, 248, 250, 0) 50%,
    rgba(247, 248, 250, 1) 62.5%,
    rgba(247, 248, 250, 1) 75%,
    rgba(247, 248, 250, 0) 87.5%
  );
}
.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to top,
    rgba(247, 248, 250, 0) 62.5%,
    rgba(247, 248, 250, 1) 75%,
    rgba(247, 248, 250, 1) 87.5%,
    rgba(247, 248, 250, 0) 100%
  );
}
.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  mask: linear-gradient(
    to top,
    rgba(247, 248, 250, 0) 75%,
    rgba(247, 248, 250, 1) 87.5%,
    rgba(247, 248, 250, 1) 100%
  );
}
.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(64px);
  mask: linear-gradient(
    to top,
    rgba(247, 248, 250, 0) 87.5%,
    rgba(247, 248, 250, 1) 100%
  );
}


.input {
  grid-column-gap: 10px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  mix-blend-mode: difference;
  border: 0 solid #fff;
  border-bottom-width: 2px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  text-decoration: none;
  display: flex;
}

.menu {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.menu-item {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: #cbcbcc52;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2px 3px;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;

  &:hover {
    background-color: #B2FF00;
    transition: background-color 250ms ease-in-out;
  }

  &:active {
    background-color: #7e7e7e52;
    transition: background-color 50ms ease-in-out;
  }
}

.footer {
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  position: relative;
}

.img {
  object-fit: cover;
  position: absolute;
  top: 1966px;
  left: -334px;
}

.start {
  grid-column-gap: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.label-small {
  color: #fff;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  font-family: 'PP-Neue-Montreal';
  text-decoration: none;

}

.label-small.black {
  color: #000;
}

.label-small.soft-black {
  color: #00000077;
}

h3 {
  color: #fff;
  letter-spacing: -.02em;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 88px;
  font-weight: 600;
  line-height: 85%;
  text-decoration: none;
  font-family: 'Sf-Pro';
}

.right {
  grid-column-gap: 11px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.links-tg {
  grid-row-gap: 47px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  max-width: 227px;
  text-decoration: none;
  display: flex;
}

.difference {
  mix-blend-mode: difference;
}

.grid-2 {
  grid: 12px;
}

.dots {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 12px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
}

a {
  color: inherit;  /* Убирает синий цвет, наследует цвет от родительского элемента */
  text-decoration: none;  /* Убирает подчеркивание */
}

.dots.difference {
  max-width: 100%;
  position: fixed;
}

.dots.difference.bottom {
  top: auto;
  bottom: 0;
}

.vectors-wrapper {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 6px;
  height: 6px;
  text-decoration: none;
  display: flex;
}

.hero {
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  min-height: 500px ;
  height: 100vh;
  display: flex;
}

h2 {
  color: #fff;
  letter-spacing: -.05em;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 178px;
  font-weight: 560;
  line-height: 85%;
  text-decoration: none;
  font-family: 'Sf-Pro';
}

.header-menu {
  z-index: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 224px;
  margin: 12px;
  text-decoration: none;
  display: flex;
  position: fixed;
  right: 0;
}

.styleguide-row {
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.styleguide-menu {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  width: 70%;
  margin: 12px;
  display: flex;
  position: fixed;
  left: 0;
}

.side-video{
  position: fixed;
  top: 0;
  right: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.burger-menu {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 224px;
  margin: 12px;
  text-decoration: none;
  display: none;
  position: fixed;
  right: 0;
}

.burger-menu-item {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: #cbcbcc52;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2px 3px;
  text-decoration: none;
  display: flex;
}

@media screen and (min-width: 1920px) {
  .grid-2 {
    grid-template-rows: auto;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .section {
    grid-row-gap: 12px;
    flex-flow: column;
  }

  .paragraph {
    padding-left: 0;
  }

  .footer {
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .start.difference {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  h3 {
    width: 227px;
  }

  .right {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .styleguide-row {
    flex-flow: column;
  }

  .styleguide-menu {
    width: 224px;
  }
}

@media screen and (max-width: 479px) {
  .title.difference {
    grid-row-gap: 8px;
    flex-flow: column;
  }

  .gallery-content{
    width: 100vw;
  }
  .filters {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  h4 {
    font-size: 48px;

  }

  .paragraph {
    max-width: 101%;
    padding-left: 0;
  }

  .menu-item {
    padding: 12px 20px;
  }

  .label-small {
    width: 100%;
  }

  h3 {
    width: 100%;
    font-size: 48px;
  }

  h2.difference {
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -.02em;
  }

  .header-menu, .styleguide-menu {
    display: none;
  }

  .burger-menu {
    z-index: 2;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  .burger-menu-item {
    width: auto;
    padding: 12px 20px;
  }
}

.gallery-grid {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
  z-index: -10;
}

.start-column {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 16%;
  text-decoration: none;
  display: flex;
}
.image-wrapper-start-big {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}
.left {
	grid-column-gap: 12px;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	text-decoration: none;
	display: flex;
}

.image-wrapper-start-small {
	object-fit: cover;
	justify-content: center;
	align-items: center;
	height: 135px;
	text-decoration: none;
	display: flex;
}

.right-2 {
	grid-column-gap: 12px;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	text-decoration: none;
	display: flex;
}

.middle-column {
	grid-row-gap: 12px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 32%;
	text-decoration: none;
	display: flex;
}

.image-wrapper-middle-small {
	object-fit: cover;
	justify-content: center;
	align-items: center;
	width: 165px;
	height: 167px;
	text-decoration: none;
	display: flex;
}

.image-wrapper-middle-middle {
	object-fit: cover;
	flex: 0 auto;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	display: flex;
  max-width: 100%;
}

.gallery-content{
  width: 100%;
  position: relative;
}

.filters {
  grid-column-gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 24px 3px;
  text-decoration: none;
  display: flex;
  position: sticky;
  top: 0px;
}

.brand-chip {
  grid-column-gap: 12px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: #ff0;
  border: 1px solid #ff0;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 26px;
  padding: 2px 24px;
  text-decoration: none;
  display: flex;
}

.text {
  color: #0d0f11;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-decoration: none;
}

.chip {
  grid-column-gap: 16px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: #cbcbcc52;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.label {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  display: flex;
}

.number {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 3px 4px 3px 2px;
  text-decoration: none;
  display: flex;
}

.card-grid {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.card-wide-large {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.card-wide-medium{
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.cover {
  object-fit: cover;
  width: 100%;
}

.text {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 220px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  display: flex;
}

.heading {
  color: #fff;
  letter-spacing: .02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 105%;
  text-decoration: none;
}

.footnote {
  color: #ffffff7a;
  letter-spacing: .02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 115%;
  text-decoration: none;
}


.small-cover {
  object-fit: cover;
  width: 250px;
}

.end-column {
	grid-row-gap: 12px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 52%;
	text-decoration: none;
	display: flex;
}

.image-wrapper-middle-big, .image-wrapper-end-big {
	object-fit: cover;
	flex: 0 auto;
	justify-content: center;
  width: 100%;

}
.image-wrapper-end-own{
  object-fit: cover;
	flex: 0 auto;
	justify-content: center;
  max-width: 100%;
}

@media screen and (max-width: 991px) {

  .right {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
}


@media screen and (max-width: 767px) {.gallery-grid {grid-row-gap: 12px;flex-flow: column;}

  .start-column {
    grid-column-gap: 12px;
    flex-flow: wrap;
    width: 100%;
  }

  .image-wrapper-start-big, .left, .image-wrapper-start-small, .right-2 {
    width: 47%;
  }

  .middle-column {
    grid-column-gap: 12px;
    flex-flow: wrap-reverse;
    width: 100%;
  }

  .end-column {
    grid-column-gap: 12px;
    flex-flow: wrap;
    width: 100%;
  }

  .image-wrapper-middle-big, .image-wrapper-end-big {
    width: 47%;
  }
}




.button {
  grid-column-gap: 128px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: #cbcbcc3f;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  text-decoration: none;
  display: flex;
  position: relative;
  border: none;
  cursor: pointer;
  width: 100%;


  &:hover {
    background-color: #B2FF00;
    transition: background-color 250ms ease-in-out;
  }

  &:hover .vectors-wrapper-2 {
    opacity: 100%;
  }

  &:hover .vectors-wrapper-3 {
    opacity: 100%;
  }

  &:hover .vectors-wrapper-4 {
    opacity: 100%;
  }

  &:hover .vectors-wrapper-5 {
    opacity: 100%;
  }

  &:active {
    background-color: #7e7e7e52;
    transition: background-color 250ms ease-in-out;
  }

}

.fill{
  width: 100%;
}

.label {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  display: flex;
}

.text {
  color: #0d0f11;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-decoration: none;
}

.number {
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 27px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  display: flex;
}

.text-2 {
  color: #0d0f11a3;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-decoration: none;
}

.vectors-wrapper-2 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 3px;
  height: 3px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0%;
}

.vectors-wrapper-3 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 3px;
  height: 3px;
  text-decoration: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0%;
}

.vectors-wrapper-4 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 3px;
  height: 3px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0%;
}

.vectors-wrapper-5 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 3px;
  height: 3px;
  text-decoration: none;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0%;
}
