<div class="footer">
    <div class="start difference">
        <p class="label-small">Нейромедиа для креаторов</p>
        <h3>Fuck <br>with <br>us()</h3>
    </div>
    <div class="right">
        <p class="label-small difference">Подпишись на рассылку, чтобы быть узнать ну пиздец инфу</p>
        <div class="links-tg">
            <div class="input">
                <p class="label-small">@Telegram</p>
            </div>
            <div class="menu">
                <div class="menu-item">
                    <p class="label-small black">
                        <a href="about.html">About</a>
                    </p>
                </div>
                <div class="menu-item">
                    <p class="label-small black">
                        <a href="style-guide.html">Stileguide</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="dots difference">
        <img src="images/dots.svg" loading="lazy" class="vectors-wrapper">
        <img src="images/dots.svg" loading="lazy" class="vectors-wrapper">
        <img src="images/dots.svg" loading="lazy" class="vectors-wrapper">
    </div>
    <div class="dots difference bottom">
        <img src="images/dots.svg" loading="lazy" class="vectors-wrapper">
        <img src="images/dots.svg" loading="lazy" class="vectors-wrapper">
        <img src="images/dots.svg" loading="lazy" class="vectors-wrapper">
    </div>
</div>