<div class="footer-countanir">
    <div class="footer-container">
        <div class="footer-item-one">
            <div class="footer-title">
                <a href="index.html">poor performance</a>
            </div>
        </div>
        <div class="footer-item-one">
            <div class="footer-title">
                <a href="gallery.html">галерея</a>
            </div>
        </div>
        <div class="footer-item-one">
            <div class="footer-title">
                <a href="interviews.html">интервью</a>
            </div>
        </div>
        <div class="footer-item-one">
            <div class="footer-title">
                <a href="articles.html">статьи</a>
            </div>
        </div>
        <div class="footer-item-one">
            <div class="footer-title">
                <a href="tutorials.html">туторы</a>
            </div>
        </div>
        <div class="footer-item-one">
            <div class="footer-title">
                <a href="style-guide.html">styleguide</a>
            </div>
        </div>
    <div class="footer-icon">
        <a href="https://t.me/poorperformance">
            <video class="telegram-video" loop autoplay playsinline muted preload >
                <source src="images/telegram.mp4" type="video/mp4">
                <source src="images/telegram.webm" type="video/webm">
            </video>
            <video class="telegram-video-blur" loop autoplay playsinline muted preload >
                <source src="images/telegram.mp4" type="video/mp4">
                <source src="images/telegram.webm" type="video/webm">
            </video>
        </a>
    </div>
    </div>
    <button id="noiseButton" class="description-2">включить звук</button>
    </div>
</div>