<div class="footer">
    <div class="start difference">
        <p class="label-small">Нейромедиа для креаторов</p>
        <h3>Fuck <br>with <br>us()</h3>
    </div>
    <div class="right">
        <p class="label-small difference">Подпишись на рассылку, чтобы быть узнать ну пиздец инфу</p>
        <div class="links-tg">
            <div class="input">
                <p class="label-small">@Telegram</p>
            </div>
            <div class="menu">
                <a class="menu-item" href="about.html">
                    <p class="label-small black">About</p>
                </a>
                <a class="menu-item" href="style-guide.html">
                    <p class="label-small black">Stileguide</p>
                </a>
                <a class="menu-item" href="hello-world.html">
                    <p class="label-small black">helloworld</p>
                </a>
            </div>
        </div>
    </div>
</div>